html{
color: white;
background-color: black;
}

nav{
    display: table-row;
    align-items: center;
}

a{
    background-color: black;
}

a:hover{
    background-color: black;
}

.badboys{
    text-align: center;
}

#boys{
    display: flex;
    align-items: center;
}

#popo{
    font-size: 20px;
    display: flex;
    text-align: center;
}


footer{
    display: flex;
}
table{
    border-color: white;
}

table, th, td {
    border: 1px solid;
  }